<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amgiftcard>
            <general>
                <active>1</active>
                <allowed_product_types>simple,grouped,configurable,virtual,bundle,downloadable</allowed_product_types>
                <allow_to_paid_for_shipping>0</allow_to_paid_for_shipping>
                <allow_to_paid_for_tax>0</allow_to_paid_for_tax>
            </general>
            <display_options>
                <image_upload_tooltip>Acceptable formats are jpg, png and gif.</image_upload_tooltip>
                <fields>am_giftcard_recipient_name</fields>
            </display_options>
            <card>
                <lifetime>0</lifetime>
                <allow_assign_to_customer>0</allow_assign_to_customer>
                <allow_use_themselves>1</allow_use_themselves>
                <notify_expires_date>0</notify_expires_date>
                <notify_expires_date_days>0</notify_expires_date_days>
            </card>
            <email>
                <email_sender>general</email_sender>
                <send_confirmation_to_sender>1</send_confirmation_to_sender>
                <email_template>amgiftcard_email_email_template</email_template>
                <email_expiration_template>amgiftcard_email_email_expiration_template</email_expiration_template>
                <email_balance_change_template>amgiftcard_email_email_balance_change_template</email_balance_change_template>
                <email_sender_confirmation_template>amgiftcard_email_email_sender_confirmation_template</email_sender_confirmation_template>
            </email>
        </amgiftcard>
    </default>
</config>
