<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="AmGiftCardConfigProvider" xsi:type="object">Amasty\GiftCardAccount\Model\GiftCardAccount\CheckoutConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="AmGiftCardAccountLayoutProcessor" xsi:type="object">Amasty\GiftCardAccount\Block\Checkout\LayoutProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Amasty\Checkout\Block\Onepage\LayoutProcessor">
        <plugin name="AmGiftCardAccountLayoutProcessorPlugin" type="Amasty\GiftCardAccount\Plugin\Checkout\Block\Onepage\LayoutProcessorPlugin" />
    </type>
    <type name="Amasty\GiftCardAccount\Block\Customer\Cards">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="cards" xsi:type="object">Amasty\GiftCardAccount\Model\Layout\Customer\Cards</item>
            </argument>
        </arguments>
    </type>
</config>
