<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\GiftCardAccount\Api\GiftCardAccountRepositoryInterface" type="Amasty\GiftCardAccount\Model\GiftCardAccount\Repository" />
    <preference for="Amasty\GiftCardAccount\Api\Data\GiftCardAccountInterface" type="Amasty\GiftCardAccount\Model\GiftCardAccount\Account" />

    <preference for="Amasty\GiftCardAccount\Api\CustomerCardRepositoryInterface" type="Amasty\GiftCardAccount\Model\CustomerCard\Repository" />
    <preference for="Amasty\GiftCardAccount\Api\Data\CustomerCardInterface" type="Amasty\GiftCardAccount\Model\CustomerCard\CustomerCard" />

    <preference for="Amasty\GiftCardAccount\Api\Data\GiftCardQuoteInterface" type="Amasty\GiftCardAccount\Model\GiftCardExtension\Quote\Quote" />
    <preference for="Amasty\GiftCardAccount\Api\GiftCardQuoteRepositoryInterface" type="Amasty\GiftCardAccount\Model\GiftCardExtension\Quote\Repository" />

    <preference for="Amasty\GiftCardAccount\Api\Data\GiftCardOrderInterface" type="Amasty\GiftCardAccount\Model\GiftCardExtension\Order\Order" />
    <preference for="Amasty\GiftCardAccount\Api\GiftCardOrderRepositoryInterface" type="Amasty\GiftCardAccount\Model\GiftCardExtension\Order\Repository" />

    <preference for="Amasty\GiftCardAccount\Api\Data\GiftCardInvoiceInterface" type="Amasty\GiftCardAccount\Model\GiftCardExtension\Invoice\Invoice" />
    <preference for="Amasty\GiftCardAccount\Api\GiftCardInvoiceRepositoryInterface" type="Amasty\GiftCardAccount\Model\GiftCardExtension\Invoice\Repository" />

    <preference for="Amasty\GiftCardAccount\Api\Data\GiftCardCreditmemoInterface" type="Amasty\GiftCardAccount\Model\GiftCardExtension\Creditmemo\Creditmemo" />
    <preference for="Amasty\GiftCardAccount\Api\GiftCardCreditmemoRepositoryInterface" type="Amasty\GiftCardAccount\Model\GiftCardExtension\Creditmemo\Repository" />

    <preference for="Amasty\GiftCardAccount\Api\GiftCardAccountManagementInterface" type="Amasty\GiftCardAccount\Model\GiftCardAccount\GiftCardAccountManagement" />
    <preference for="Amasty\GiftCardAccount\Api\GuestGiftCardAccountManagementInterface" type="Amasty\GiftCardAccount\Model\GiftCardAccount\GuestGiftCardAccountManagement" />

    <preference for="Amasty\GiftCardAccount\Api\GiftCardAccountCommandManagementInterface" type="Amasty\GiftCardAccount\Model\GiftCardAccount\GiftCardAccountCommandManagement" />
    <preference for="Amasty\GiftCardAccount\Api\Data\GiftCardAccountResponseInterface" type="Amasty\GiftCardAccount\Model\GiftCardAccount\Response" />

    <type name="Magento\Quote\Api\CartRepositoryInterface">
        <plugin name="AmGiftCardQuoteExtension" type="Amasty\GiftCardAccount\Plugin\Quote\CartRepositoryPlugin" />
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="AmGiftCardOrderExtension" type="Amasty\GiftCardAccount\Plugin\Sales\OrderRepositoryPlugin" />
    </type>
    <type name="Magento\Sales\Api\InvoiceRepositoryInterface">
        <plugin name="AmGiftCardInvoiceExtension" type="Amasty\GiftCardAccount\Plugin\Sales\InvoiceRepositoryPlugin" />
    </type>
    <type name="Magento\Sales\Api\CreditmemoRepositoryInterface">
        <plugin name="AmGiftCardCreditmemoExtension" type="Amasty\GiftCardAccount\Plugin\Sales\CreditmemoRepositoryPlugin" />
    </type>
    <type name="Magento\Quote\Model\Quote\TotalsCollector">
        <plugin name="AmGiftCardAmountUpdater" type="Amasty\GiftCardAccount\Plugin\Quote\TotalsCollector" />
    </type>
    <type name="Klarna\Core\Model\Checkout\Orderline\Giftcard">
        <plugin name="AmaGiftCardKlarnaOrderline" type="Amasty\GiftCardAccount\Plugin\Klarna\Orderline\GiftCardPlugin"/>
    </type>
    <!-- comp with Klarna Checkout -->
    <type name="Klarna\Base\Model\Checkout\Orderline\Items\Giftcard">
        <plugin name="AmaGiftCardKlarnaCheckoutOrderline" type="Amasty\GiftCardAccount\Plugin\Klarna\Orderline\Items\GiftCardPlugin"/>
    </type>

    <!-- Gift Card Email Notifiers configuration start -->
    <type name="Amasty\GiftCardAccount\Model\Notification\NotifiersProvider">
        <arguments>
            <argument name="notifiers" xsi:type="array">
                <item name="order_account_create" xsi:type="array">
                    <item name="0" xsi:type="object">Amasty\GiftCardAccount\Model\Notification\Notifier\GiftCardAccountNotifier\Proxy</item>
                    <item name="1" xsi:type="object">Amasty\GiftCardAccount\Model\Notification\Notifier\GiftCardConfirmationNotifier\Proxy</item>
                </item>
                <item name="admin_account_send" xsi:type="array">
                    <item name="0" xsi:type="object">Amasty\GiftCardAccount\Model\Notification\Notifier\GiftCardAccountNotifier\Proxy</item>
                    <item name="1" xsi:type="object">Amasty\GiftCardAccount\Model\Notification\Notifier\GiftCardConfirmationNotifier\Proxy</item>
                </item>
                <item name="card_expiration" xsi:type="array">
                    <item name="0" xsi:type="object">Amasty\GiftCardAccount\Model\Notification\Notifier\GiftCardExpirationNotifier\Proxy</item>
                </item>
                <item name="balance_change" xsi:type="array">
                    <item name="0" xsi:type="object">Amasty\GiftCardAccount\Model\Notification\Notifier\GiftCardBalanceChangeNotifier\Proxy</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- Gift Card Email Notifiers configuration end -->

    <type name="Amasty\GiftCardAccount\Model\GiftCardAccount\CartAction\Response\Builder">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="add_to_cart" xsi:type="array">
                    <item name="successMsg" xsi:type="object">Amasty\GiftCardAccount\Model\GiftCardAccount\CartAction\Response\Builder\AddToCart\SuccessMessage</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\GiftCardAccount\Block\Checkout\Cart\GiftCard">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Amasty\GiftCardAccount\Model\GiftCardAccount\Command\Redeem\Validator">
        <arguments>
            <argument name="commonValidators" xsi:type="array">
                <item name="common" xsi:type="object">Amasty\GiftCardAccount\Model\GiftCardAccount\Command\Redeem\Validator\Common</item>
            </argument>
        </arguments>
    </type>
    <type name="Amasty\GiftCardAccount\Model\GiftCardAccount\Command\CommandFactory">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="redeem" xsi:type="string">Amasty\GiftCardAccount\Model\GiftCardAccount\Command\Redeem\Command</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Amasty\GiftCardAccount\Model\GiftCardAccount\DataProvider\Form\ModifierPool"
                 type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">

            </argument>
        </arguments>
    </virtualType>
    <type name="Amasty\GiftCardAccount\Model\GiftCardAccount\DataProvider\Form">
        <arguments>
            <argument name="modifierPool" xsi:type="object">Amasty\GiftCardAccount\Model\GiftCardAccount\DataProvider\Form\ModifierPool</argument>
        </arguments>
    </type>

    <type name="Amasty\GiftCardAccount\Block\Customer\Cards">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Amasty\GiftCardAccount\Controller\Account\Index">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Amasty\GiftCardAccount\Controller\Account\AddCard">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Amasty\GiftCardAccount\Controller\Account\Remove">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Amasty\GiftCardAccount\Model\GiftCardAccount\CheckoutConfigProvider">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Amasty\GiftCardAccount\Controller\Cart\Apply">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Amasty\GiftCardAccount\Model\GiftCardAccount\GiftCardCartProcessor">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Amasty\GiftCardAccount\Model\GiftCardAccount\GiftCardAccountValidator">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>
