<!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<div class="amcard-field-container -cart">
    <span class="amcard-title" data-bind="i18n: 'Check Gift Card Code Status'"></span>
    <div class="amcard-field-block -double -code">
        <input type="text" name="amgiftcard" class="amcard-field" data-validate="{'required-entry':true}" data-bind="attr: {placeholder: $t('Enter your Code')}, value: cardCode"/>
    </div>
    <button class="amcard-check" data-bind="i18n: 'Check Status', click: check.bind($data)"></button>
</div>
<div data-bind="scope: 'amcard-cart-checker-render'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
