<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amgiftcard" translate="label" type="text" sortOrder="70903" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Gift Card</label>
            <tab>amasty</tab>
            <resource>Amasty_GiftCard::amasty_giftcard</resource>
            <group id="amasty_information" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Information</label>
                <frontend_model>Amasty\GiftCard\Block\Adminhtml\System\Config\Information</frontend_model>
            </group>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowed_product_types" translate="label" type="multiselect" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Types, Which Can Be Bought with Gift Card</label>
                    <source_model>Amasty\GiftCard\Model\OptionSource\ProductType</source_model>
                </field>
                <field id="allow_to_paid_for_shipping" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use a Gift Card to Pay for Shipping</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allow_to_paid_for_tax" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use a Gift Card to Pay for Tax</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allow_to_paid_for_amasty_extra_fee" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <if_module_enabled>Amasty_Extrafee</if_module_enabled>
                    <label>Use a Gift Card to Pay for Amasty Extra Fee</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="display_options" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Display Options</label>
                <field id="fields" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Gift Card Fields</label>
                    <source_model>Amasty\GiftCard\Model\OptionSource\GiftCardOption</source_model>
                    <can_be_empty>1</can_be_empty>
                    <comment><![CDATA[When disabling certain fields by adjusting corresponding settings in the Gift Card Extension Configuration, do not forget to update your templates for gift card related emails. Otherwise, those unnecessary variables will be included in the body of the sent message and it may cause inconvenience.]]></comment>
                </field>
                <field id="show_options_in_cart_checkout" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Gift Card Options in Mini Cart And Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="gift_card_timezone" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Timezones for User Choosing</label>
                    <source_model>Magento\Config\Model\Config\Source\Locale\Timezone</source_model>
                </field>
                <field id="allow_user_images" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Users to Upload Own Images for Gift Card</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="image_upload_tooltip" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tooltip Message for Users</label>
                    <depends>
                        <field id="allow_user_images">1</field>
                    </depends>
                </field>
            </group>
            <group id="card" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Gift Card Options</label>
                <field id="lifetime" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Lifetime (days)</label>
                    <comment><![CDATA[When set to 0 (zero), certificate will have unlimited lifetime.]]></comment>
                    <validate>validate-digits</validate>
                </field>
                <field id="allow_assign_to_customer" translate="label tooltip" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Assign Gift Card to Customer Account</label>
                    <tooltip>If enabled, customers need to add Gift Card Codes to their accounts to use them on checkout or in the cart.</tooltip>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allow_use_themselves" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Customers to Use Gift Cards They Bought for Themselves</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="notify_expires_date" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notify Customers Before Certificate Expires</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Notifications are available only for purchased gift cards.]]></comment>
                    <validate>validate-digits</validate>
                </field>
                <field id="notify_expires_date_days" translate="label comment" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of Days Before Expiry</label>
                    <comment><![CDATA[When set to 0 (zero), the notification is sent once the certificate expires.]]></comment>
                    <validate>validate-digits</validate>
                    <depends>
                        <field id="notify_expires_date">1</field>
                    </depends>
                </field>
                <field id="notify_balance_update" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notify Customers of Balance Update</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="email" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Options</label>
                <field id="email_sender" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender</label>
                    <source_model>\Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="email_template" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Template</label>
                    <source_model>\Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="email_recipients" translate="label comment" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Copy to</label>
                    <comment><![CDATA[Each email on a new line]]></comment>
                    <validate>validate-multiline-email</validate>
                </field>
                <field id="email_expiration_template" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Expiry Notification Email Template</label>
                    <source_model>\Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment><![CDATA[Notice of the expiry of the Gift Card]]></comment>
                </field>
                <field id="email_balance_change_template" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Balance Notification Email Template</label>
                    <source_model>\Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="send_confirmation_to_sender" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Confirmation to Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email_sender_confirmation_template" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender Confirmation Email Template</label>
                    <source_model>\Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="send_confirmation_to_sender">1</field>
                    </depends>
                </field>
                <field id="attach_pdf_gift_card" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attach PDF Gift Card to Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
